.input {
    width: 100%;
    height: 30px;

    padding: 5px 5px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #fff;

    outline: none;
    border: none;
    border-bottom: 1px solid #fff;

    background: transparent;
    transition: .5s;
}

.input::placeholder {
    color: #fff;
}

.input:focus {
    border-bottom: 1px solid rgba(245, 176, 0, 0.8);
}
