.bar {
    height: 0%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;

    box-shadow: 0 0 5px #000000;

    position: fixed;
    overflow: hidden;

    background-color: #202A37;
    transition: width 0.2s linear;
}

.brandLogo {
    width: 40px;
    height: 40px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 42px 0;
    gap: 35px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #9c9c9c;
}

.active {
    color: #fff;
    text-decoration-color: #f5b000;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-line: underline;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.profileAvatar {
    height: 35px;
    width: 35px;
    border-radius: 40px;
}

.profileName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 29px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

@media screen and (max-width: 850px) {
    .bar {
        padding: 25px 40px;
    }
    .links {
        gap: 15px;
        padding: 0px;
    }
    @media screen and (max-width: 700px) {
        .bar {
            padding: 25px 20px;
        }
        .profile {
            gap: 10px;
        }
        .profileName {
            font-size: 14px;
        }
        @media screen and (max-width: 630px) {
            .brandLogo {
                display: none;
            }
            @media screen and (max-width: 590px) {
                .bar {
                    flex-flow: row-reverse;
                    padding: 25px 8px;
                }
                .links {
                    gap: 8px;
                }
                .link {
                    font-size: 12px;
                }
                @media screen and (max-width: 375px) {
                    .bar {
                        padding: none;
                    }
                }
            }
        }
    }
}