.bar {
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    gap: 350px;

    box-shadow: 0 0 5px #000000;

    position: fixed;

    overflow: hidden;

    background-color: #202A37;
    transition: width 0.2s linear;
}

.brandLogo {
    width: 45px;
    height: 45px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 42px 0;
    gap: 35px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    color: #ffffff;
}

.active {
    text-decoration-color: #f5b000;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    text-decoration-line: underline;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.profileAvatar {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.profileName {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}