.home {
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 55px 95px;
    gap: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 34px;

    background: #202A37;
    box-shadow: 0 0 2px #000000;
    border-radius: 12px;
}

.titel {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;
    white-space: nowrap;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.formControlers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0px;
    gap: 25px;
}

.input {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.input:last-child {
    margin-bottom: 25px;
}

.select {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.btn {
    padding: 10px 25px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 41px 110px;
    gap: 10px;

    font-size: 24px;

    background: #202A37;
    box-shadow: 0 0 2px #000000;
    border-radius: 12px;

}

.img {
    width: 30em;
    border-radius: 12px;
}
